@import "../variables";

.mainScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 696px;
  margin-left: 340px;
  max-width: 530px;
  padding-top: 20px;

  &__header {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 24px;
  }

  &__subheader {
    font-size: 18px;
    color: #45484A;
    font-weight: 400;
    margin-bottom: 27px;
  }

  &__buttonDealer {
    padding: 22px 40px 28px;
    background-color: $colorBase;
    border-radius: 32px;
    display: block;
    color: #ffffff;
    font-weight: 600;
  }
}




